@model FormInfo 

@{
    ViewData["Title"] = "Results";
}

@{
 <p>Name</p>
 <p>@Model.Name</p><br>

 <p>Location</p>
 <p>@Model.Location</p><br>
 
 <p>Language</p>
 <p>@Model.Language</p><br>

 <p>Comments</p>
 <p>@Model.Comment</p><br>
}

